{% extends 'base.html' %}

{% block title %} Your Dashboard {% endblock %}
{% load humanize %}
{% block content %} 
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Dashboard</h1>
            <ul class="breadcrumbs">
                <li><a href={% url 'home' %}>Home</a></li>
                <li class="active">{{user.username}} Dashboard</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->

<div class="container mt-50 mb-50">
    {% include "includes/messages.html" %}
	<div class="main-title" style="text-align:left !important;">
            <h1>Welcome <span>{{user.first_name}} {{user.last_name}}</span></h1>
{% if inquiries %}
            <p>Here are the cars that you have inquired about</p>
        </div>
	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Car Name</th>
		  <th scope="col">Date</th>
		  <th scope="col">Price</th>
		  <th scope="col">Action</th>
		</tr>
	  </thead>
	  <tbody>
		{% for inquiry in inquiries%}
		<tr>
		  <th scope="row">{{inquiry.id}}</th>
		  <td>{{inquiry.car_title}}</td>
		  <td>{{inquiry.created_date}}</td>
		  <td>{{inquiry.car_price | intcomma }} $ </td>
		  <td><a href="{% url 'car_details' inquiry.car_id %}" class="btn btn-outline-dark">View Car</a></td>
		</tr>
		{%endfor%}
	  </tbody>
	</table>
{%else%}
<h3>You have Not made any inquiries.</h3>
<br>
<span>Please go to <a href="{%url 'cars'%}" style="text-decoration: underline; color: tomato;">this page</a> to search for a car that you want.</span>
{%endif%}
</div>
<!--   Dashboard End   -->

{% endblock %}