{% extends 'base.html' %}
{% block title %} Log-in {% endblock %}

{% block content %} 

{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Login To Your Account</h1>
            <ul class="breadcrumbs">
                <li><a href={% url 'home' %}>Home</a></li>
                <li class="active">Login</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Contact section start -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-section">
                    <div class="logo-2">
                        <a href={% url 'home' %}>
                            <img src={% static "img/logos/mylogo.png" %} alt="logo">
                        </a>
                    </div>
                    <h3>Sign into your account</h3>
                    {% include "includes/messages.html" %}
                    <form action={% url 'login' %} method="POST">
                        {% csrf_token %}
                        <div class="form-group form-box">
                            <input type="text" name="username" class="input-text" placeholder="Username" required>
                            <i class="flaticon-text"></i>
                        </div>
                        <div class="form-group form-box">
                            <input type="password" name="password" class="input-text" placeholder="Password" required>
                            <i class="flaticon-lock"></i>
                        </div>
                        
                        <br>
                        
                        <div class="container" style=" margin-top: 40%; margin-right: 170%;">
                            <div class="form-group mb-0">
                                <center><button type="submit" class="btn-md btn-theme ">Login</button></center>
                            </div>
                        </div>
                        <div class="extra-login clearfix">
                            <span>Or Sign in With</span>
                        </div>
                        <div class="clearfix"></div>
                        <!-- Social Login -->
                        <ul class="social-list-3">
                            <li><a href="{% provider_login_url 'google' %}" class="google-bg">
                                <i class="fa fa-google google-i"></i> Sign in with Google
                            </a></li>
                            <br>
                            <li><a href="{% provider_login_url 'facebook' method='oauth2' %}" class="linkedin-bg">
                                <i class="fa fa-facebook facebook-i"></i> Sign in with Facebook
                            </a></li>
                        </ul>
                    </form>
                    <p>Don't have an account? <a href={% url 'register' %} class="thembo"> Register here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Social Login -->
<div class="d-grid mb-2">
    <button class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
      <i class="fa fa-google me-2"></i> Sign in with Google
    </button>
  </div>
  <div class="d-grid">
      <a href="{% provider_login_url 'facebook' method = 'oauth2' %}">
          <button class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
              <i class="fa fa-facebook-f me-2"></i> Sign in with Facebook
          </button>
      </a>
  </div>