{% load static %}
<!-- Main header start -->
<header class="main-header sticky-header header-with-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href= {% url 'home' %}>
                <img class="d-block w-100 h-100" src= {% static 'img/logos/mylogo.png' %}>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="navbar">
                <ul class="navbar-nav ml-auto">
                  {% for item in nav_list %}
                    <li class="nav-item">
                        {% if item.lower in request.path %}
                            <a class="nav-link active" style="font-size: huge; color:rgb(12, 26, 56)" href= {% url item.lower %}>{{item}}</a>
                        {% elif request.path == '/' and item == 'HOME' %}
                            <a class="nav-link active" style="font-size: huge; color:rgb(12, 26, 56)" href= {% url item.lower %}>{{item}}</a>
                        {% else %}
                            <a class="nav-link" href= {% url item.lower %}>{{item}}</a>
                        {% endif %}
                    </li>

                  {% endfor %}
                    
                    <li class="nav-item dropdown m-hide">
                        <a href="#full-page-search" class="nav-link h-icon">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Main header end -->